.nav{
    .nav-item{
        margin-right: 5px;
        .nav-link{
           font-weight: bold;
           background-color: black;
           color: white;
           border-color: transparent;
        }
        .nav-link:hover{
            font-weight: bold;
            background-color: yellow;
            color: black;
            border-color: transparent;
         }
    }
}